apiVersion: v1
kind: Service
metadata:
  name: gitbook-service
spec:
  selector:
    app: gitbook
  ports:
    - protocol: TCP
      port: 80
      targetPort: 4000
  type: LoadBalancer  # 根据需要选择 Service 类型
